<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CriarLoginServlet</servlet-name>
        <servlet-class>controller.CriarLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecuperarLoginServlet</servlet-name>
        <servlet-class>controller.RecuperarLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarLoginSrvlet</servlet-name>
        <servlet-class>controller.EditarLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>controller.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdicionarContatoServlet</servlet-name>
        <servlet-class>controller.AdicionarContatoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SairServlet</servlet-name>
        <servlet-class>controller.SairServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarContatoServlet</servlet-name>
        <servlet-class>controller.EditarContatoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LimparServlet</servlet-name>
        <servlet-class>controller.LimparServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContatosServlet</servlet-name>
        <servlet-class>controller.ContatosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RelatorioServlet</servlet-name>
        <servlet-class>controller.RelatorioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginHomeServlet</servlet-name>
        <servlet-class>controller.RedirecionarHomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirContatoServlet</servlet-name>
        <servlet-class>controller.ExcluirContatoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CriarLoginServlet</servlet-name>
        <url-pattern>/CriarLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecuperarLoginServlet</servlet-name>
        <url-pattern>/RecuperarLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarLoginSrvlet</servlet-name>
        <url-pattern>/EditarLoginSrvlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/HomeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdicionarContatoServlet</servlet-name>
        <url-pattern>/AdicionarContatoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SairServlet</servlet-name>
        <url-pattern>/SairServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarContatoServlet</servlet-name>
        <url-pattern>/EditarContatoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LimparServlet</servlet-name>
        <url-pattern>/LimparServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContatosServlet</servlet-name>
        <url-pattern>/ContatosServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RelatorioServlet</servlet-name>
        <url-pattern>/RelatorioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginHomeServlet</servlet-name>
        <url-pattern>/LoginHomeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirContatoServlet</servlet-name>
        <url-pattern>/ExcluirContatoServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
